@font-face {
  font-family: "Nunito Sans";
  src: url(../public/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf), url(../public/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
p {
    font-family: "Nunito Sans", Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color:black;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  h1, h2, h3, strong  {
    font-family: "Nunito Sans", Verdana, Tahoma, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  h1{
    font-size: 2.5rem
  }
  h2{
    font-size: 1.875rem
  }
  h3{
    font-size: 1.5rem
  }
  strong{
    color:black
  }
  a:hover {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  
  .border{
    border-color:blue !important; 
  }
  .card{
    border: none;
    height:35vh;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  }



#Footer{
    color:#444;
    background-color:#EEE;
}
#Footer p{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom:0
}
#Footer ul{
    list-style-type: ">";
}
li::marker {
  color: blue;
}
.footer-scrolled{
  display:none;
}
#backToTop:hover {
  background-color: #298eff;
  border: none;
}


#home{
  
  height:100vh;
  width:auto;
  padding-top: 10vh;
  font-size: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
}

#welcome-Btn:hover {
  color: black !important;
}

.card-footer{
  background-color: #EEE;
}

.card-body:hover > i {
  color: #cde1f8 !important;
}
#notFoundImg {
  max-width: 30vw;
}




@media screen and (max-width: 991px) {
  h1{
    font-size: 2.125rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.250rem;
  }
  h4{
    font-size: 1.125rem;
  }
  h5{
    font-size: 1rem;
  }

}  
@media screen and (max-width: 767px) {
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.125rem;
  }
  h3{
    font-size: 1.125rem;
  }

  .footerContainer{
    width:100%;
  }
}  



